# .replit
language = "nodejs"
entrypoint = "index.js"

[env]
PORT = "5000"

[interpreter]
command = ["node"]

[[ports]]
localPort = 3001
name = "Web"
onOpen = "open-browser"

[[ports]]
localPort = 5000
name = "API"
onOpen = "open-preview"
